wikimedia_sites.json filter=lfs diff=lfs merge=lfs -text
wiki_patterns.json filter=lfs diff=lfs merge=lfs -text
wiki_patterns.pickle filter=lfs diff=lfs merge=lfs -text
wikimedia_sites.pickle filter=lfs diff=lfs merge=lfs -text
